h1,h2,h3,h4,.estiloParrafo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    margin-left: 20rem;
    margin-right: 5rem;
    margin-top: 3rem;
}
.btn-form, .btn-reservar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    margin-left: 20rem;
    margin-right: 5rem;
    margin-top: 3rem;
}